.dienstenaanbod-link {
  color: #435e29;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}

.bekijk-dienst {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: black;
  font-size: 18px;
}
