/* Open Sans staat als default font en als het Merriweather moet zijn dan specify ik dat in de class van de tekst die anders moet */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffdea;
}

.head-text {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 800;
}

.info-text {
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* even als reminder voor mezelf: */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Merriweather", serif; */
