/* Open Sans staat als default font en als het Merriweather moet zijn dan specify ik dat in de class van de tekst die anders moet */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffdea;
}

.head-text {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 800;
}

.info-text {
  color: black;
  font-size: 18px;
}

/* even als reminder voor mezelf: */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Merriweather", serif; */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* grotere schermen voor pc */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .container-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .container-footer-content {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
  }

  .top-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
  }
}

/* schermen zoals ipad */
@media screen and (max-width: 768px) {
  .container-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: 10px;
  }

  .header-links {
    margin-right: 10px;
  }

  .container-footer-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .text-and-slideshow {
    grid-template-columns: 1fr;
    padding-block: 50px;
    padding-inline: 50px;
    gap: 50px;
  }

  .seperator-img {
    height: 100px;
  }

  .review-and-contact {
    grid-template-columns: 1fr;
    gap: 50px;
    padding-inline: 0;
    padding-block: 50px;
  }

  .aanbod-grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .aanbod {
    padding-inline: 100px;
  }

  .portfolio-imgs {
    margin-inline: 50px;
  }
}
