/* Open Sans staat als default font en als het Merriweather moet zijn dan specify ik dat in de class van de tekst die anders moet */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffdea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.head-text {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 800;
}

.info-text {
  color: black;
  font-size: 18px;
}

/* even als reminder voor mezelf: */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Merriweather", serif; */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* grotere schermen voor pc */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .top-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
  }
}

/* schermen zoals ipad */
@media screen and (max-width: 1024px) {
  .logo {
    margin-left: 10px;
  }

  .header-links {
    margin-right: 10px;
  }

  .text-and-slideshow {
    grid-template-columns: 1fr;
    padding-block: 50px;
    padding-inline: 50px;
    gap: 50px;
  }

  .seperator-img {
    height: 100px;
  }

  .review-and-contact {
    grid-template-columns: 1fr;
    gap: 50px;
    padding-inline: 0;
    padding-block: 50px;
  }

  .reviews {
    margin-inline: 50px;
  }

  .aanbod-grid {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .aanbod {
    padding-inline: 100px;
  }

  .portfolio-imgs {
    margin-inline: 50px;
  }

  .container-footer-content {
    width: auto;
    padding-inline: 20px;
  }
}

@media screen and (max-width: 750px) {
  .container-header-content {
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    margin: 0;
    height: 40px;
  }

  .header-links {
    margin: 0;
  }

  .link {
    font-size: 14px;
  }

  .container-footer-content {
    flex-direction: column;
    gap: 20px;
    margin-left: 5px;
    width: fit-content;
  }

  .small-text {
    font-size: 14px;
  }

  .big-text {
    font-size: 16px;
  }

  .info-text {
    font-size: 14px;
  }

  .head-text {
    font-size: 16px;
  }

  .top-info {
    padding-inline: 30px;
  }

  .slide-img {
    width: 100px;
    height: 100px;
  }

  .arrow {
    width: 20px;
  }

  .slideshow {
    gap: 5px;
  }

  .customer {
    width: 110px;
    height: 110px;
  }

  .text-and-image {
    gap: 10px;
  }

  .reviews {
    margin-inline: 10px;
  }

  .contact-full {
    margin-inline: 20px;
    width: fit-content;
  }

  .info-text-white {
    font-size: 14px;
  }

  .head-text-white {
    font-size: 16px;
  }

  .aanbod {
    padding-inline: 10px;
  }

  .portfolio-imgs {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
  }

  .portfolio-text {
    text-align: center;
  }

  .bekijk-dienst {
    font-size: 14px;
  }

  .mySlides img {
    height: 200px;
    width: 300px;
  }

  .arrow-review {
    width: 20px;
  }
}
